$blue:#006BFF;

.hom-scroll-container {
  width: 100%;
  //background-color: #f4f4f4;
  display: flex;
  justify-content: space-between;
    .left{
      max-height: 100vh;
      width: 60%;
    overflow-y: auto;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center; // center cards horizontally
    &::-webkit-scrollbar {
      display: none;
    }
    }
    .right{
      background-color: #eeeded;
      width: 40%;
      display: flex;
      img{
        object-fit: fill;
        height: 100%;
        width: 100%;
      }
    }
  }
  