$primary: #2563eb;
$light-gray: #f6f9fb;
$text: #1f2937;
$card-shadow: 0 8px 20px rgba(18, 33, 73, 0.04);
.stats {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 10px;

      .stat-card {
        background: #fff;
        padding: 12px;
        border-radius: 10px;
        box-shadow: $card-shadow;
        display: flex;
        gap: 12px;
        align-items: center;

        .icon {
          font-size: 20px;
          color: $primary;
        }

        .stat-body {
          .stat-number {
            font-size: 20px;
            font-weight: 700;
          }

          .muted {
            color: #64748b;
          }
        }
        .user-actions {
      display: flex;
      gap: 15px;
      justify-content: center;

      .notification-icon {
        cursor: pointer;
        color: #333;
        font-size: 1.4rem;
        transition: color 0.2s ease;
        border-radius: 100%;
        border: 1px solid black;
        height: 40px;
        width: 40px;
        padding: 5px;

        &:hover {
          color: $primary;
        }
      }

      .profile-btn {
        cursor: pointer;

        .profile-pic {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          object-fit: cover;
          border: 2px solid transparent;
          transition: border-color 0.2s ease;

          &:hover {
            border-color: $primary;
          }
        }

        svg {
          font-size: 1.8rem;
          color: #333;
        }
      }
    }
      }
      .center{
        justify-content: flex-start;
        //background-color: #ffffff00;
        //border: 2px solid $primary;
        border-radius: 0%;
        margin-left: -3px;
      }
    }
    /* Modal styles */
.modal-overlay {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background: #fff;
  padding: 20px;
  border-radius: 16px;
  position: relative;
  max-width: 400px;
  width: 100%;
  animation: fadeIn 0.2s ease-in-out;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

